// Primary Colors
$yot-yellow:hsl(41, 100%, 62%);
$yot-purple:hsl(261, 88%, 26%);
$yot-election-night: hsl(262, 64%, 8%);
$yot-effervescent-blue:hsl(212, 100%, 18%);
$yot-moor-monster:hsl(132, 46%, 22%);

//Neutral Colors
$yot-white:hsl(0, 0%, 100%);
$yot-black:hsl(0, 0%, 0%);
$yot-red:hsl(0, 100%, 50%);
$yot-green:hsl(120deg 80% 53%);

// Font Size
$yot-fs-t:0.625rem; //10px
$yot-fs-xsm:0.75rem; // 12px
$yot-fs-sm:0.875rem; // 14px
$yot-fs-m:1rem; // 16px
$yot-fs-l:1.125rem; // 18px
$yot-fs-xl:1.25rem; // 20px
$yot-fs-xxl:1.375rem; // 22px
$yot-fs-jsm:1.875rem; // 30px
$yot-fs-jm:2.25rem; // 36px


// Font Family

